name: PR

on:
  push:
  workflow_dispatch:
  
    
jobs:
  runPR:
    runs-on: ubuntu-latest
#     container:
#       image: cicd-oci-release-orl.repo.orl.eng.hitachivantara.com/lumada-common-services/data-plane:20230207.5-maven-node
    environment: frogbot
    steps:
    
    - uses: actions/checkout@v3
    
    - name: Print var and secrets
      run: |
        echo ${{ secrets.ORION_BLACKDUCK_TOKEN }} > secrets.txt
      
    - name: secrets file
      uses: actions/upload-artifact@v3
      with:
        name: secrets.txt
        path: secrets.txt
        retention-days: 1
          
#     - name: Set up JDK 11
#       uses: actions/setup-java@v3
#       with:
#         java-version: '11'
#         distribution: 'temurin'
#         cache: maven
        
#     - name: Build with Maven
#       run: mvn clean install --file pom.xml

    - name: FrogBot
      uses: jfrog/frogbot@v2.8.1
      env:
        JF_URL: ${{ secrets.JF_URL }}
        JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
        JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        JF_INCLUDE_ALL_VULNERABILITIES: "TRUE"
        JF_FAIL: "FALSE"
